<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">


</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
<form method="post" th:action="@{/Admin/save}">
    <div >
        <label >nom</label>
        <input class="form-control" type="text" name="nom" th:value="${patient.nom}">
        <span class="text-danger" th:errors="${patient.nom}"></span>

    </div>
    <div>
        <label>Date naissance</label>
        <input class="form-control" type="Date" name="date" th:value="${patient.date}">
        <span CLASS="text-dangerext" th:errors="${patient.date}"></span>

    </div>

    <div>
        <label>malad</label>

        <input   type="checkbox" name="malade"
               th:checked="${patient.malad}">
        <span th:errors="${patient.malad}"></span>
    </div>



    <div>
        <label>score</label>
        <input class="form-control" type="text" name="score" th:value="${patient.score}">
        <span class="text-danger" th:errors="${patient.score}"></span>

    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>
    </div>
    </div>


</body>
</html>